<ion-content [fullscreen]="true" class="ion-padding">


    <ion-card *ngIf="bleStatus != 1">
        <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>{{'MESSAGES.BLE_NOT_CONNECTED' | translate}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label [innerHTML]="'MESSAGES.BLE_NECESSARY_FOR_APP_TO_WORK' | translate"></ion-label>
        </ion-card-content>
    </ion-card>

    <div *ngIf="bleStatus ==1" class="chart-wrapper">
        <canvas baseChart [datasets]="hxlineChartData" [options]="lineChartOptions" [colors]="hxlineChartColors"
            [labels]="lineChartLabels" [legend]="lineChartLegend" [chartType]="lineChartType">
        </canvas>

        <canvas baseChart [datasets]="slineChartData" [options]="lineChartOptions" [colors]="slineChartColors"
            [legend]="lineChartLegend" [chartType]="lineChartType">
        </canvas>
    </div>
</ion-content>