.gauge-container {
    text-align: center;
    // margin-bottom: -16vh;
}

.secondary-gauge-container {
    // margin: auto;
    text-align: center;
    // margin-bottom: -16vh;
}

.hx-dial {
    height: 32vh;
    max-height: 500px;
    width: 50vh;
    max-width: 100%;
    margin: auto;
}

.steam-dial {
    width: 25vh;
    max-width: 50%;
    flex: 0 0 auto;
    margin: auto;
    display: inline-block;
}
.steam-target-dial {
    width: 25vh;
    max-width: 50%;
    flex: 0 0 auto;
    display: inline-block;
}

.error {
    padding-top: 50px;
    color: red;
    white-space: pre-line;
}

ion-fab-button[title] {
    position: relative;
}

ion-fab-button[title]::after {
    position: absolute;
    content: attr(title);
    z-index: 1;
    right: 45px;
    bottom: 4px;
    background-color: var(--ion-color-primary);
    padding: 9px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.ble-warning {
    ion-fab-button {
        --background: var(--ion-color-warning);
    }
}
.ble-error {
    ion-fab-button {
        --background: var(--ion-color-danger);
    }
}
