<ion-content [fullscreen]="true" class="ion-padding">


    <ion-card *ngIf="bleStatus != 1">
        <ion-card-header>
            <ion-card-subtitle>{{'PAGES.REALTIME.TITLES.CONNECT_TO_BLE' | translate }}</ion-card-subtitle>
            <ion-card-title>{{'PAGES.REALTIME.TITLES.BLE_SEARCH' | translate }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-button (click)="autoConnect()">
                {{"PAGES.REALTIME.BUTTONS.AUTOSCAN" | translate }}
            </ion-button>
            <ion-button (click)="connectBLE()">
                {{"PAGES.REALTIME.BUTTONS.CONNECT" | translate }}
            </ion-button>
            <div class="error" *ngIf="(bleStatus == -1) && bleError">
                <ion-label [innerHTML]="'BLE_ERRORS.' + bleError | translate"></ion-label>
            </div>
        </ion-card-content>
    </ion-card>


    <div *ngIf="bleStatus == 1" class="temperatures-container">
        <div class="gauge-container">
            <mwl-gauge class="hx hx-dial" [max]="150" [dialStartAngle]="160" [dialEndAngle]="20.000"
                [value]="maraXInfo?.hx" [animated]="true" [label]="hxGaugeLabelRef" [animationDuration]="1">
            </mwl-gauge>
        </div>
        <div class="secondary-gauge-container">
            <mwl-gauge class="steam steam-dial" [max]="220" [dialStartAngle]="160" [dialEndAngle]="20.000"
                [value]="maraXInfo?.s" [animated]="true" [label]="sGaugeLabelRef" [animationDuration]="1">
            </mwl-gauge>
            <mwl-gauge class="steam steam-target-dial" [max]="220" [dialStartAngle]="160" [dialEndAngle]="20.000"
                [value]="maraXInfo?.st" [animated]="true" [label]="stGaugeLabelRef" [animationDuration]="1">
            </mwl-gauge>
        </div>

    </div>

    <div *ngIf="bleStatus == 1" class="list-container">
        <ion-list>
            <ion-item lines="none">
                <ion-icon slot="start" name="stopwatch-outline"></ion-icon>
                <ion-label>{{smoothTimer}}s</ion-label>
            </ion-item>
            <ion-item lines="none">
                <ion-icon slot="start" name="timer-outline"></ion-icon>
                <ion-label>{{lastTimer}}s</ion-label>
            </ion-item>
            <ion-item lines="none">
                <ion-icon slot="start" name="wifi-outline"></ion-icon>
                <ion-label>
                    <ion-text *ngIf="maraXInfo?.wifiIP">{{maraXInfo?.wifiIP}}</ion-text>
                    <ion-text *ngIf="!maraXInfo?.wifiIP">{{"PAGES.REALTIME.OTHER.DISCONNECTED_OR_DISABLED" | translate}}
                    </ion-text>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>

    <ion-fab *ngIf="bleStatus == 1" vertical="bottom" horizontal="end" slot="fixed" [ngClass]="getBLEStatusClass()">
        <ion-fab-button>
            <ion-icon name="bluetooth-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">


            <ion-fab-button color="primary" title="{{bleSignalStrength}}%">
                <ion-icon name="cellular"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="danger" (click)="disconnectBLE()">
                <ion-icon name="exit-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>