<ion-content [fullscreen]="true" class="ion-padding">
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>WiFi Settings</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="!connected">
            <ion-label [innerHTML]="'MESSAGES.BLE_NECESSARY_FOR_APP_TO_WORK' | translate"></ion-label>
        </ion-card-content>

        <ion-card-content *ngIf=" connected">
            <ion-list>
                <ion-item>
                    <ion-label position="stacked">WiFi name</ion-label>
                    <ion-input [(ngModel)]="wifi"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Wifi password</ion-label>
                    <ion-input type="password" [(ngModel)]="wifipassword"></ion-input>
                </ion-item>
                <ion-button (click)="saveWifiSettings()">
                    SAVE
                </ion-button>
            </ion-list>
        </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>#OpenSource</ion-card-subtitle>
            <ion-card-title>Lelit Mara X Mobile App</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-label>
                Enjoy, Improve, Share !
            </ion-label>
            <ion-list>
                <ion-item detail="true" href="https://gitlab.com/jousis/marax_visualizer">
                    <ion-label>
                        <h1>MCU Firmware</h1>
                        <p>using PlatformIO (Arduino) for ESP32</p>
                    </ion-label>
                </ion-item>
                <ion-item detail="true" href="https://gitlab.com/jousis/MaraXMobile">
                    <ion-label>
                        <h1>Mobile App (this)</h1>
                        <p>using Ionic,Capacitor,Angular</p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>#OpenSource</ion-card-subtitle>
            <ion-card-title>Special Thanks</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-list>
                <ion-item detail="true" href="https://ionicframework.com/">

                    <ion-label>
                        <h1>Ionic</h1>
                        <p>One codebase. Any platform.</p>
                    </ion-label>
                </ion-item>
                <ion-item detail="true" href="https://capacitorjs.com/">
                    <ion-label>
                        <h1>Capacitor</h1>
                        <p>A cross-platform native runtime for web apps.</p>
                    </ion-label>
                </ion-item>
                <ion-item detail="true" href="https://github.com/capacitor-community/bluetooth-le">
                    <ion-label>
                        <h1>bluetooth-le</h1>
                        <p>Capacitor Bluetooth Low Energy Plugin </p>
                    </ion-label>
                </ion-item>
                <ion-item detail="true" href="https://github.com/mattlewis92/angular-gauge">
                    <ion-label>
                        <h1>angular-gauge</h1>
                        <p>A tiny angular 10.0+ wrapper for svg-gauge </p>
                    </ion-label>
                </ion-item>

                <ion-item detail="true" href="https://www.adafruit.com/">
                    <ion-label>
                        <h1>Adafruit</h1>
                        <p>Amazing hardware, libraries and AdafruitIO</p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>


    <!-- <ion-list>
        <ion-list-header>
            Framework
        </ion-list-header>
        <ion-item detail="true" href="https://ionicframework.com/">
            <ion-label>Ionic</ion-label>
        </ion-item>
        <ion-item detail="true" href="https://capacitorjs.com/">
            <ion-label>Capacitor</ion-label>
        </ion-item>
        <ion-list-header>
            Plugins
        </ion-list-header>
        <ion-item detail="true" href="https://github.com/capacitor-community/bluetooth-le">
            <ion-label>@capacitor-community/bluetooth-le (MIT)</ion-label>
        </ion-item>
        <ion-list-header>
            Libraries
        </ion-list-header>
        <ion-item detail="true" href="https://github.com/mattlewis92/angular-gauge">
            <ion-label>angular-gauge (MIT)</ion-label>
        </ion-item>
    </ion-list> -->



</ion-content>