/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* ------ Default Style ---------- */
mwl-gauge {
    flex: 1;
    display: block;
    padding: 0px;
    // background-color: #222;
    margin: 0px;
    border-radius: 3px;
}
mwl-gauge > .gauge > .dial {
    stroke: darkslategrey;
    stroke-width: 2;
    fill: rgba(0, 0, 0, 0);
}
mwl-gauge > .gauge > .value {
    stroke: #6f4e37;
    stroke-width: 2;
    fill: rgba(0, 0, 0, 0);
}
mwl-gauge > .gauge > .value-text {
    fill: #6f4e37;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.8em;
}

/* ------- Alternate Style ------- */
// mwl-gauge.hx {
//     width: 150px;
//     height: 25%;
//     min-height: 150px;
// }
mwl-gauge.hx > .gauge > .dial {
    stroke: #334455;
    stroke-width: 10;
}
mwl-gauge.hx > .gauge > .value {
    stroke: #6f4e37;
    stroke-dasharray: none;
    stroke-width: 10;
}
mwl-gauge.hx > .gauge > .value-text {
    fill: #6f4e37;
}

/* ------- Alternate Style ------- */

mwl-gauge.steam > .gauge > .dial {
    stroke: #334455;
    stroke-width: 10;
}
mwl-gauge.steam > .gauge > .value {
    stroke: #66c0f4;
    stroke-dasharray: none;
    stroke-width: 10;
}
mwl-gauge.steam > .gauge > .value-text {
    fill: #66c0f4;
}
